.overlay {
    background: rgb(34, 34, 34);
}

.input-box {
    display: inline-block;
    z-index: 1001;
}

td {
    padding: 8px;
    color: white
  }

th {
    padding: 8px;
    color: white;
}

table {
    position: absolute;
}

.submitButton {
    z-index: 1050;
}
